{% extends "base.html" %}

{% block title %}Produto{% endblock %}

{% block content %}
<form action="{{ url_for('produto.formProduto') }}" method="POST">
    <h1>Produtos</h1>
    <!--{{ result }}-->
    <br>
    <button type="submit" class="btn btn-outline-danger" name="formNovo"><i class="fas fa-circle-plus"></i> Novo Produto</button>
</form>
<br><br>
<table class="table table-light table-striped">
    <thead>
        <tr class="table-dark">
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor Unitário</th>
            <th scope="col">Foto</th>
            

        </tr>
    </thead>
    <tbody>
        {% if result %}
        {% for row in result[0] %}
        <tr>
            <th scope="row">{{ row['id_produto'] }}</th>
            <td>{{ row['nome'] }}</td>
            <td>{{ row['descricao'] }}</td>
            <td>{{ row['valor_unitario'] }}</td>
            <td>{{ row['foto'] }}</td>
            
            <td><i class="fas fa-edit"></i></td>
            <td><i class="fas fa-trash"></i></td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endblock %}