{% extends "base.html" %}
{% block title %}Page Not Found{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <h1 class="text-center">Página não encontrada!</h1>
        <h3 class="text-center">Favor verificar se o endereço digitado esta correto.</h3>
    </div>
</div>
<figure style="text-align: center;">
    <img class="img-fluid"  src="{{ url_for('static', filename='Erro404.jpg') }}" alt="Erro 404">
</figure>
<div class="row">
    <div class="col">
        {# mostra a mensagem de erro retornada #}
        <p class="text-center">{{ erroHttp }}</p>
    </div>
</div>
{% endblock %}